* {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-container {
  width: 450px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 450px;
  height: 50px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cursor {
  width: 100px;
  padding: 8px 18px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red {
  background-color: #a70c11f6;
}
.yellow {
  background-color: rgb(204, 156, 13);
}
.green {
  background-color: #53a010e3;
}
.auto {
  background-color: rgba(14, 14, 151, 0.856);
}

.red:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.yellow:hover {
  background-color: rgba(255, 255, 0, 0.897);
  box-shadow: 0px 0px 10px rgb(255, 255, 0.897);
}
.green:hover {
  background-color: rgb(0, 255, 0);
  box-shadow: 0px 0px 10px rgb(0, 255, 0);
}
.auto:hover {
  background-color: rgb(0, 0, 255);
  box-shadow: 0px 0px 10px rgb(0, 0, 255);
}
